@tailwind base;
@tailwind components;
@tailwind utilities;

button, a, input, textarea {
  outline-color: theme('colors.green') !important;
}

.cmp-button {
  @apply text-white bg-brown px-8 py-4 inline-block;
}

.cmp-caption {
  @apply italic;
}

.cmp-h1 {
  @apply font-title text-4xl leading-none my-4 text-center;
}

.cmp-h2 {
  @apply font-title text-3xl leading-none my-4;
}

@screen lg {
  .cmp-h1 {
    @apply text-6xl;
  }
}

.cmp-input {
  @apply block bg-transparent p-2 border-brown border-solid border w-full;
}

.cmp-link {
  @apply  transition-colors duration-200 border-solid border-transparent border;
}

.cmp-link:hover {
  @apply text-green font-bold
}

.cmp-link-button {
  @apply text-white bg-black p-4 inline-block;
}

.cmp-markdown p {
  @apply py-4;
}

.cmp-markdown ul {
  @apply ml-4;
}

.cmp-markdown li {
  @apply list-disc;
}

/* General */

svg {
  max-width: 100%;
  max-height: 100%;
}
