<footer class="bg-black text-white font-title p-4 flex flex-col md:items-center">
    <div>Copyright © {% currentYear whatever %} | {{general.site_title}} </div>
    <div><a href="/contact">Contact</a></div>
    <div class="pt-4">Web by Evan</div>
</footer>