<footer class="bg-brown text-white font-title p-4 flex flex-col md:items-center">
    <div>Copyright © {% currentYear whatever %} | {{general.site_title}} </div>
    <div><a href="/contact">Contact</a></div>
    <div class="pt-4"><a href="https://www.hushspring.com" class="cmp-link">Site by <span class="uppercase underline">Hush Spring</span></a></div>
</footer>