---
layout: container
eleventyNavigation:
  key: Work
  order: 1
---

<h1 class="cmp-h1">Work</h1>

<div class="mt-16">
  {% for book in collections.book %}
    <section>
      <h2 class="cmp-h2 italic">{{book.data.title}}</h2>
      <p class="text-2xl font-title">{{book.data.publisher}}</p>
      <div class="mt-4 flex flex-col md:flex-row">
        <img class="max-w-sm w-full mb-4 mx-auto md:mr-4 " srcset="{% srcset book.data.cover %}" src="{{cover}}" alt=""/>
        <blockquote>
          <p class="italic text-lg">{{book.data.blurbs[0].text}}</p>
          <footer class="mt-2">— {{book.data.blurbs[0].attribution}}</footer>
          <a class="cmp-link-button mt-4" href="{{book.data.purchase_link}}">Click to purchase</a>
        </blockquote>
      </section>
  {% endfor %}
</div>

<ul class="mt-20">
  <h2 class="mt-16 cmp-h2">Other publications<h2>
  {% for publication in collections.publication | reverse %}
    <li class="pb-8">
      <h3 class="text-lg">"{{publication.data.title}}"</h3>
      <p class="text-md italic">{{publication.data.publisher}}</p>
      <a class="mt-4 flex items-center fill-current" href="{{publication.data.link}}">Read <span class="w-8 h-8">{{ "/site/media/icons/chevron-right.svg"| svgContents | safe }}</span></a>
    </li>
  {% endfor %}
  </ul>
</div>






