<!doctype html>
<html class="h-full bg-white" lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{general.site_title}}</title>
        <meta name="description" content="{{general.site_description}}">
        {# {% if page.fileSlug === "blog" %}
            <meta name="robots" content="noindex,follow"/>
        {% endif %} #}
        <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
        <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans|Lora&display=swap" rel="stylesheet">     
        <link rel="stylesheet" href="/main.css">
        <script src="/bundle.js" defer="defer"></script>

        {# include social meta tags #}
        {% include "components/social-meta.njk" %}

        {# <link rel="apple-touch-icon" sizes="180x180" href="/media/site_icons/apple-touch-icon.png"> #}
        {# <link rel="icon" type="image/png" sizes="32x32" href="/media/site_icons/favicon-32x32.png"> #}
        {# <link rel="icon" type="image/png" sizes="16x16" href="/media/site_icons/favicon-16x16.png"> #}
        {# <link rel="manifest" href="/manifest.json"> #}

        {# lastly include favicon, fonts, etc #}
        <link rel="icon" type="image/png" href="{{ site.images.favicon }}">

        {# canonical #}
        <link rel="canonical" href="{{ site.url }}{{ page.url }}">
    </head>

    <body class="text-brown h-full font-body">
        {% if page.fileSlug !== '' %}
            {% include "components/skip-to-content.njk" %} 
            {% include "components/header.njk" %}     
        {% endif %}    
        <main id="main" class="mx-auto min-h-full">
            {{ content | safe }}
        </main>
            {% include "components/back-to-top.njk" %} 
        {% if page.fileSlug !== '' %}    
            {% include "components/footer.njk" %} 
        {% endif %}    

    </body>


</html>